body {
  font-family: "Arial", sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
button {
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#dataContainer {
  margin-top: 20px;
}

p {
  margin: 5px 0;
  position: relative;
}

p:not(:last-child)::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p button {
  background-color: #f44336;
  color: white;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
}

p button:hover {
  background-color: #d32f2f;
}

#cariInput {
  margin-right: 10px;
}
